<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="GraphQLInboundRule" stopProcessing="true">
                    <match url="(graphql)" />
                    <action type="Rewrite" url="https://life.omely.local/{R:1}" />
                </rule>
                <rule name="ExtSigninInboundRule" stopProcessing="true">
                    <match url="(externalsignin|signin-google|signin-oidc)" />
                    <action type="Rewrite" url="https://life.omely.local/{R:1}" />
                </rule>
                <rule name="TokenInboundRule" stopProcessing="true">
                    <match url="(connect|revoke)/token" />
                    <action type="Rewrite" url="https://life.omely.local/{R:1}/token" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>